<div class="row">
  <div class="page-header col-md-12">
    <h1><%= @wod.program.name %> <small><%= @wod.name %></small></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p><%= @wod.description %></p>
  </div>
  <div class="col-md-3 offset-md-1">
    <p><%= @wod.description %></p>
  </div>
</div>
